body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c82121;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #2313d2;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #230ec6;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ce0c0c;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
